/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #080101;
    margin: 0;
    padding: 0;
    
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  #root{
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(249, 248, 248, 0.1);
    text-align: center;
  }
  .container h2 {
    margin-bottom: 20px;
    color: #fffbfb;
}

  h1, h2, h3 {
    color: #fdfbfb;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #e80606;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  button:hover {
    background-color: #f64e06;
  }

  .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #e80606;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #b30000;
}
  

